.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 0;
  font-size: 3rem;
  margin: 0;
  margin-top: 12px;
}

h1:nth-of-type(1) {
  left: 50%;
  transform: translate(-100%);
  color: #EAE7DC;
}

h1:nth-of-type(2) {
  left: 50%;
  color: #BC4639;
}

.Panel {
  width: 50%;
  height: 100%;
}

.Panel:nth-of-type(1) {
  background: #BC4639;
}

.Panel:nth-of-type(2) {
  background: #EAE7DC;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem
  }
  
  h1:nth-of-type(2) {
    color: #EAE7DC;
  }
  
  .Panel {
    width: 100%;
    height: 50vh;
    overflow: auto;
  }
}